.search-bar-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    border: 1px solid #571919;
    border-radius: 50px;
    padding: 10px;
  }
  
  .search-icon,
  .clear-icon {
    margin: 0 5px;
    cursor: pointer;
  }
  
  
  
  .clear-icon {
    color: #c0bdae;
  }
  
  .clear-icon:hover {
    color: #333;
  }
  