.input-wrapper {
    display: flex;
    align-items: center;
    border-radius: none;
    height: 2.1rem;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
    position: absolute;
    top: 5%; /* Position at the vertical center of the screen */
    transform: translateY(-50%); /* Move up by half of its height to center vertically */
    left: 30px; /* Position from the left side */
  }
  
  .search-icon {
    margin-right: 5px;
  }
  .search-icon:hover {
    color: #333; /* Change color on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  
  .search-input {
    border: none;
    outline: none;
    background: none;
  }