.search-form {
  display: flex; /* Arrange elements horizontally */
  flex-direction: flex; /* Stack elements vertically */
  align-items: center; /* Center elements horizontally */
  margin: 20px auto; /* Add some margin for spacing */
  width: 50%; /* Increased width for a bigger container */
  background-color: black; /* Set background color to black */
  border: 2px solid white; /* Add white border */
  border-radius: 100px; /* Rounded corners */
  padding: 25px; /* Space inside the container */
  color: white; /* Text color to white */
}

.search-form input{
  background-color: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px, 20px;
  font-size: 20px; 
  color: white;
}

::placeholder{
  color: white;
}


.Search-icon img{
  width: 30px;
  color: black;
}
.Search-icon{
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: white;
  cursor: pointer;
}
